@import "variables";

.bar_search {
    background-color: $bgc-primary;
    padding: 1rem 0;
    position: sticky;
    top: 0;

    .input {
        width: 100%;

        form {
            position: relative;

            .input_search {
                padding: 1rem;
                font-size: 1.2rem;
                width: 100%;

                &:active,
                &:focus-visible {
                    outline: 1px solid $txt-color-primary;
                }
            }
            .clear_input {
                background-color: $secondary-color;
                border-radius: 50%;
                color: $txt-color-light;
                display: none;
                height: 30px;
                position: absolute;
                right: 1rem;
                width: 30px;

                &.active {
                    display: flex;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }

                svg {
                    width: 80%;
                }
            }
        }
    }

    .btn_search {
        &:hover {
            cursor: not-allowed;
        }

        .btn {
            background-color: $btn-disabled;
            color: $txt-color-light;
            cursor: not-allowed;
            font-size: 1.4rem;
            font-weight: bold;
            margin: 1rem 0;
            padding: 1rem 1.5rem;
            pointer-events: none;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            &.active {
                background-color: $primary-color;
                pointer-events: all;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }

        
    }
}

@media screen and (min-width: 768px) {
    .bar_search {
        .btn_search {
            width: 20%;
            margin: 0 0 0 1rem;
        }
    }
}
