@import "variables";

.card {

    margin: 2rem 0;
    .customer{
        &_info {
            background-color: $secondary-color;
            padding: 1rem;
    
            .name{
                font-size: 1.3rem;
                font-weight: bold;
                text-decoration: underline;
                text-transform: uppercase;
            }
    
            .email{
                margin-top: .3rem ;
            }
        }
        &_cont{
            padding: 1rem;
            background-color:$bgc-light;
            .data{
                text-align: center;
                > div{
                    width: 50%;
                    padding: 1rem;
                    .title{
                        font-weight: bold;
                        font-size: 1.2rem;
                        margin-bottom: .5rem;
                    }
                    .value{
                        font-size: 1rem;
                        svg{
                            width: 15px;
                            height: 15px;

                            &.check{
                                fill: green;
                            }
                            &.warning{
                                fill:red;
                            }
                            &.exclamation{
                                fill: orange;
                            }
                        }
                    }
                }
            }
        }
    }
}
