@import 'variables';

.nav{
    background-color: $bgc-light;
    &::before{
        content: '';
        background-color: $txt-color-primary;
        height: 8px;
        width:100%;

    }
    .logo{
        padding: 1.5rem 0;
        width: 100%;
        img{
            width: 200px;
        }
    }
}